{% include '/templates/header.html' %}
{% import '/templates/controls.html' as controls %}

{% autoescape false %}

  <h3>Feedback</h3>
  <form class="form-inline" action="/admin/feedback" method="get">
    <div class="form-group">
      <label for="range_start">View between</label>
      <input type="text" value='{{range_start.strftime("%d %B %Y")}}' readonly class="picker_range_start form-control"/>
      {{ datetime_pickers.addDatePicker("picker_range_start", "range_start") }}
    </div>
    <div class="form-group">
      <label for="range_end">and</label>
      <input type="text" value='{{range_end.strftime("%d %B %Y")}}' readonly class="picker_range_end form-control"/>
      {{ datetime_pickers.addDatePicker("picker_range_end", "range_end") }}
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">View</button>
      </div>
    </div>
    <input type="hidden" id="range_start" name="range_start" value="{{range_start.strftime('%d-%m-%Y')}}" readonly />
    <input type="hidden" id="range_end" name="range_end" value="{{range_end.strftime('%d-%m-%Y')}}" readonly /> 
  </form>

  {% if feedback %}
    <form class="form-horizontal" action="/admin/feedback/delete_feedbacks" method="post">
      <div class="form-group">
         <div class="col-sm-offset-8 col-sm-2">
           <div class="checkbox">
             <label>
               <input type="checkbox" onClick="toggle(this,'feedback_box')">Select All</input>
             </label>
           </div>
         </div>
         <div class="col-sm-2 col-sm-2">
           <button type="submit">Delete</button>
         </div>
      </div>

      {{controls.view_feedback(feedback,"feedback","feedback_box",False,True,account,account_mapping)}}
    </form>
  {% else %}
    <p>No feedback reported in this date range.</p>
  {% endif %}

  <hr/>

  <div class="row container-fluid">
    <div class="col-sm-2 col-xs-2">
      <form action="/admin/feedback" method="get">
        <input type="hidden" id="range_start" name="range_start" value="{{older_range_start.strftime('%d-%m-%Y')}}" />
        <input type="hidden" id="range_end" name="range_end" value="{{older_range_end.strftime('%d-%m-%Y')}}" />
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Older
        </button>
      </form>
    </div>
    {% if newer_range_start < today_start %}
      <div class="col-sm-2 col-xs-2">
        <form action="/admin/feedback" method="get">
          <input type="hidden" id="range_start" name="range_start" value="{{newer_range_start.strftime('%d-%m-%Y')}}" />
          <input type="hidden" id="range_end" name="range_end" value="{{newer_range_end.strftime('%d-%m-%Y')}}" />
          <button class="btn btn-default" type="submit">
            Newer <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </form>
      </div>
    {% else %}
      <div class="col-sm-2 col-xs-2">
        <button class="btn btn-default" disabled="disabled">
            Newer <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
      </div>
    {% endif %}
  </div>

{% endautoescape %}
{% include '/templates/footer.html' %}
