{% include '/templates/header.html' %}
{% import '/templates/controls.html' as controls %}

{% autoescape false %}

  <form class="form-inline" action="/admin/reports" method="get">
    <div class="form-group">
      <label for="range_start">View between</label>
      <input type="text" value='{{range_start.strftime("%d %B %Y")}}' readonly class="picker_range_start form-control">
      {{ datetime_pickers.addDatePicker("picker_range_start", "range_start") }}
    </div>
    <div class="form-group">
      <label for="range_end">and</label>
      <input type="text" value='{{range_end.strftime("%d %B %Y")}}' readonly class="picker_range_end form-control">
      {{ datetime_pickers.addDatePicker("picker_range_end", "range_end") }}
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">View</button>
      </div>
    </div>
    <input type="hidden" id="range_start" name="range_start" value="{{range_start.strftime('%d-%m-%Y')}}" readonly />
    <input type="hidden" id="range_end" name="range_end" value="{{range_end.strftime('%d-%m-%Y')}}" readonly /> 
  </form>

  <div>
    <h3>Number of bookings in this date range = {{nbookings}}</h3>
    <h3>Total amount of time booked = {{"%.0f" % total_time}} minutes ({{"%.1f" % (total_time/60)}} hours)</h3>
  </div>

  <div style="width=80%">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#equipment" aria-controls="equipment" role="tab" data-toggle="tab">View Equipment</a></li>
      <li role="presentation"><a href="#project" aria-controls="project" role="tab" data-toggle="tab">View Projects</a></li>
      <li role="presentation"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">View Users</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="equipment">
        {% for equip in equips %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>{{controls.view_equipment(equips_dict[equip])}}</h3>
              <h4>Total time booked = {{controls.view_usage(equip_stats[equip]["_total"],total_time)}}</h4>
            </div>
            <div class="panel-body">
              <div class="row container_fluid"><div class="col-sm-12"><h4>Projects</h4></div></div>
              {% for proj in projs %}
                {% if proj in equip_stats[equip] %}
                  <div class="row_container_fluid">
                    <div class="col-sm-4">{{controls.view_project(proj,projects_dict)}}</div>
                    <div class="col-sm-8">{{controls.view_usage(equip_stats[equip][proj], equip_stats[equip]["_total"])}}</div>
                  </div>
                {% endif %}
              {% endfor %}
              <div class="row container_fluid"><div class="col-sm-12"><h4>Users</h4></div></div>   
              {% for email in emails %}
                {% if email in equip_stats[equip] %}
                  <div class="row_container_fluid">
                    <div class="col-sm-4">{{controls.view_account(email,emails_dict)}}</div>
                    <div class="col-sm-8">{{controls.view_usage(equip_stats[equip][email], equip_stats[equip]["_total"])}}</div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="project">
        {% for proj in projs %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>{{controls.view_project(proj,projects_dict)}}</h3>
              <h4>Total time booked = {{controls.view_usage(proj_stats[proj]["_total"],total_time)}}</h4>
            </div>
            <div class="panel-body">
              <div class="row container_fluid"><div class="col-sm-12"><h4>Equipment</h4></div></div>   
              {% for equip in equips %}
                {% if equip in proj_stats[proj] %}
                  <div class="row_container_fluid">
                    <div class="col-sm-4">{{controls.view_equipment(equips_dict[equip])}}</div>
                    <div class="col-sm-8">{{controls.view_usage(proj_stats[proj][equip], proj_stats[proj]["_total"])}}</div>
                  </div>
                {% endif %}
              {% endfor %}
              <div class="row container_fluid"><div class="col-sm-12"><h4>Users</h4></div></div>   
              {% for email in emails %}
                {% if email in proj_stats[proj] %}
                  <div class="row_container_fluid">
                    <div class="col-sm-4">{{controls.view_account(email,emails_dict)}}</div>
                    <div class="col-sm-8">{{controls.view_usage(proj_stats[proj][email], proj_stats[proj]["_total"])}}</div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div role="tabpanel" class="tab-pane" id="user">
        {% for email in emails %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>{{controls.view_account(email,emails_dict)}}</h3>
              <h4>Total time booked = {{controls.view_usage(email_stats[email]["_total"],total_time)}}</h4>
            </div>
            <div class="panel-body">
              <div class="row container_fluid"><div class="col-sm-12"><h4>Equipment</h4></div></div>   
              {% for equip in equips %}
                {% if equip in email_stats[email] %}
                  <div class="row_container_fluid">
                    <div class="col-sm-4">{{controls.view_equipment(equips_dict[equip])}}</div>
                    <div class="col-sm-8">{{controls.view_usage(email_stats[email][equip], email_stats[email]["_total"])}}</div>
                  </div>
                {% endif %}
              {% endfor %}
              <div class="row container_fluid"><div class="col-sm-12"><h4>Projects</h4></div></div>   
              {% for proj in projs %}
                {% if proj in email_stats[email] %}
                  <div class="row_container_fluid">
                    <div class="col-sm-4">{{controls.view_project(proj,projects_dict)}}</div>
                    <div class="col-sm-8">{{controls.view_usage(email_stats[email][proj], email_stats[email]["_total"])}}</div>
                  </div> 
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <hr/>

  <div class="row container-fluid">
    <div class="col-sm-2 col-xs-2">
      <form action="/admin/reports" method="get">
        <input type="hidden" id="range_start" name="range_start" value="{{older_range_start.strftime('%d-%m-%Y')}}" />
        <input type="hidden" id="range_end" name="range_end" value="{{older_range_end.strftime('%d-%m-%Y')}}" />
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Older
        </button>
      </form>
    </div>
    <div class="col-sm-2 col-xs-2">
      <form action="/admin/reports" method="get">
        <input type="hidden" id="range_start" name="range_start" value="{{newer_range_start.strftime('%d-%m-%Y')}}" />
        <input type="hidden" id="range_end" name="range_end" value="{{newer_range_end.strftime('%d-%m-%Y')}}" />
        <button class="btn btn-default" type="submit">
          Newer <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>

{% endautoescape %}
{% include '/templates/footer.html' %}
