{% include '/templates/header.html' %}
{% import '/templates/controls.html' as controls %}

{% autoescape false %}

  <form class="form-inline" action="/admin/equipment/bookings" method="get">
    <div class="form-group">
      <label for="range_start">View between</label>
      <input type="text" value='{{range_start.strftime("%d %B %Y")}}' readonly class="picker_range_start form-control">
      {{ datetime_pickers.addDatePicker("picker_range_start", "range_start") }}
    </div>
    <div class="form-group">
      <label for="range_end">and</label>
      <input type="text" value='{{range_end.strftime("%d %B %Y")}}' readonly class="picker_range_end form-control">
      {{ datetime_pickers.addDatePicker("picker_range_end", "range_end") }}
    </div>
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-default">View</button>
      </div>
    </div>
    <input type="hidden" id="range_start" name="range_start" value="{{range_start.strftime('%d-%m-%Y')}}" readonly />
    <input type="hidden" id="range_end" name="range_end" value="{{range_end.strftime('%d-%m-%Y')}}" readonly /> 
  </form>

  <hr/>

  {% if bookings %}
    {{controls.admin_view_bookings(bookings,"bookings",account_mapping)}}
  {% else %}
    <p>There are no bookings in this date range.</p>
  {% endif %}

  <div class="row container-fluid">
    <div class="col-sm-2 col-xs-2">
      <form action="/admin/equipment/bookings" method="get">
        <input type="hidden" id="range_start" name="range_start" value="{{older_range_start.strftime('%d-%m-%Y')}}" />
        <input type="hidden" id="range_end" name="range_end" value="{{older_range_end.strftime('%d-%m-%Y')}}" />
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Older
        </button>
      </form>
    </div>
    <div class="col-sm-2 col-xs-2">
      <form action="/admin/equipment/bookings" method="get">
        <input type="hidden" id="range_start" name="range_start" value="{{newer_range_start.strftime('%d-%m-%Y')}}" />
        <input type="hidden" id="range_end" name="range_end" value="{{newer_range_end.strftime('%d-%m-%Y')}}" />
        <button class="btn btn-default" type="submit">
          Newer <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>

{% endautoescape %}
{% include '/templates/footer.html' %}
