<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/images/bsb_icon.png" />

    <!-- Bootstrap -->
    <link href="/css/bootstrap-united.min.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <!-- BrisSynBio customisation -->
    <link href="/css/brissynbio.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="alert alert-info alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert" 
               aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h2>Welcome to the Life Sciences equipment management system.</h2> 
       <h4>You are have requested to create a Life Sciences equipment account using the 
       email address <strong>{{email}}</strong>.</h4>
       <h4>If you want to create an account for
       a different email address, then please <a href="{{logout_url}}">click here</a>.</h4>
    </div>

    <div class="alert alert-success" role="alert">
      <h3>Your account has been successfully created.</h3>

      <h4>The next step is for the administrators to review your account and decide
          whether or not to approve access to the equipment booking system.</h4>

      <h4>Please be patient while the administrators process your account. This should
          normally take less than one working day.</h4>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="/js/ie10-viewport-bug-workaround.js"></script>
 
    <script type="text/javascript">

      {% if datetime_pickers %}
        {{ datetime_pickers.javaScript() }}
      {% endif %}

      function goBack() {
         window.history.back();
      }
      function goForward() {
         window.history.forward();
      }

      function toggle(source, name) {
        checkboxes = document.getElementsByName(name);
        for(var i=0, n=checkboxes.length;i<n;i++) {
          checkboxes[i].checked = source.checked;
        }
      }

      {% if enable_popovers %}
        $("[data-toggle='popover']").popover();
      {% endif %}

    </script>            

  </body>
</html>
