{% include '/templates/header.html' %}
{% autoescape true %}

  {% if equip_type %}
    <h3>{{equip_type.name}}</h3>

    {% if equip %}
      <table class="table table-striped table-hover">
        <tr>
          {% for item in equip %}

            {% if item.idstring in equipment["administered"] %}
              <td align="center" class="info" width="25%">
            {% elif item.idstring in equipment["authorised"] %}
              <td align="center" class="success" width="25%">
            {% elif item.idstring in equipment["pending"] %}
              <td align="center" class="warning" width="25%">
            {% elif item.idstring in equipment["banned"] %}
              <td align="center" class="danger" width="25%">
            {% else %}
              <td align="center" width="25%">
            {% endif %}
              <a href="/equipment/item/{{item.idstring}}">{{item.name}}</a></td>

            {% if loop.index is divisibleby(4) and not loop.last %}
              </tr><tr>
            {% endif %}
          {% endfor %}
        </tr>
      </table>
    {% endif %}

  {% endif %}

{% endautoescape %}
{% include '/templates/footer.html' %}
